#ifndef RRESOURCE_H_INCLUDED
#define RRESOURCE_H_INCLUDED

101  ICON  "appsimugeom.ico"

1 VERSIONINFO
FILEVERSION      0,1,0,0
PRODUCTVERSION   0,1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
        BEGIN
            VALUE "Build",            "\0"
            VALUE "Comments",         "Application for Simulated Geometry\0"
            VALUE "Developer",        "Sk. Mohammadul Haque\0"
            VALUE "FileDescription",  "Application for Simulated Geometry\0"
            VALUE "FileVersion",      "0.1.0\0"
            VALUE "InternalName",     "appsimugeom.exe\0"
            VALUE "LegalCopyright",   "Copyright (C) 2019, 2022 Sk. Mohammadul Haque\0"
            VALUE "OriginalFilename", "appsimugeom.exe\0"
            VALUE "PrivateBuild",     "\0"
            VALUE "ProductName",      "Simulated Geometry Application\0"
            VALUE "ProductVersion",   "0.1.0\0"
            VALUE "SpecialBuild",     "\0"
            VALUE "Support",          "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1252 // 1252 = 0x04E4
    END
END
#endif // RRESOURCE_H_INCLUDED
